@media screen and (min-width: 1080px) {

    body {
        header {
            height: 80px;
            padding: 0 100px;

            figure {
                width: 36px;
                height: 36px;

                img {
                    width: 100%;
                }
            }
            
            nav {

                .menu {

                    #checkbox {
                        display: none;
                    }

                    span {
                        display: none;
                    }

                    ul {
                        display: flex;
                        background: none;
                        position: unset;

                        li {
                            margin: 0;
                            margin-right: 48px;

                            a {
                                color: $color-text-primary;
                            }
                        }

                        .rigth-menu {
                            margin: 0;
                        }

                    }
                }
            }

        }

        main {
            margin-top: 120px;

            .text-section {
                padding-left: 200px;
                
                h1 {
                    line-height: 84px;
                    font-size: $font-size-title-principal;
                    margin: 0;
                    
                    .point {
                        color: $background-color-menu;
                    }
                }
                
                p {
                    visibility: hidden;
                    width: 628px;
                    height: 48px;
                    font-size: unset;
                    margin-bottom: 56px;
                    &::before {
                        content: 'El portal de podcasts que explora el mundo de la programación y la tecnología. Nuevos episodios, todos los jueves cada 15 días.';
                        visibility: visible;
                    }
                }

                a {                
                    width: 226px;                  
                    line-height: 56px;
                    font-size: $font-size-text-button-desktop;
                } 


            }

            .episodes-section {
                padding-top: 186px;
                margin-top: 5px;
                height: 1042.6px;
                clip-path: polygon(0 12%, 100% 0, 100% 88%, 0 100%);

                h2 {
                    line-height: 62px;
                    margin-left: 200px;
                    margin-bottom: 26px;
                    font-size: $font-size-title-desktop;
                }

                .container-box-iframe{
                    margin: 0 50px;

                    .section-iframe {
                        display: inline-block;
                        padding: 0;
                        margin-right: 10px;
                        margin-bottom: 72px;
                        
                        iframe {
                            width: 480px;
                        }
                    }

                    .unset-rigth {
                        margin-right: 0;
                    }
                }
            }

            .phone-section {
                width: 457.6px;
                height: 470px;
                margin-left: 50px;

                figure {
                    height: 630px;
                    top: -160px;

                    img {
                        width: 85%;
                        height: inherit;
                    }
                }
            }

            .from-section {
                margin: 0;
                padding: 0;
                position: absolute;
                top: 1510px;
                right: 70px;

                h2 {
                    line-height: 62px;
                    font-size: $font-size-title-desktop;
                    margin-bottom: 24px;
                }

                p {
                    width: 464px;
                    line-height: 24px;
                    font-size: unset;
                }
            }

            .guests-section {
                margin-top: 64px;

                h2 {
                    line-height: 62px;
                    font-size: $font-size-title-desktop;
                    margin-left: 200px;
                    margin-bottom: 36px;
                }

                .guest-article {
                    display: flex;
                    flex-wrap: wrap;

                    figure {
                        width: 33.33%;
                        height: 264px;
    
                        img {
                            width: 100%;
                            height: inherit;
                        }
                        
                    }

                }

            }

            .themes-section {
                margin-top: 64px;

                h2 {
                    line-height: 62px;
                    font-size: $font-size-title-desktop;
                    margin-left: 200px;
                    margin-bottom: 56px;
                }

                .article-themes {
                    display: flex;
                    justify-content: center;

                    .box-themes {
                        margin: 0;
                        width: 260px;
                        text-align: center;

                        h3 {
                            margin-top: 16px;
                            padding: 0 7px;
                        }
                    }
                }

            }

            .latest-news-section {
                margin-top: 34px;
                height: 518px;
                clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
                padding-top: 213px;
                text-align: center;

                h2 {
                    line-height: 62px;
                    margin: 0;
                    font-size: $font-size-title-desktop;
                }

                a {                
                    width: 345px;
                    line-height: 56px;
                    font-size: $font-size-text-button-desktop;
                    margin: 36px auto 0 auto; 
                }
            }
        }

        footer {
            height: 95px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 100PX;

            p {
                width: 269px;
                line-height: 28px;
                font-size: unset;
                margin: 0;
            }

            div {
                margin-top: 0;

                a {
                    margin-right: 36px;
    
                    i {
                        font-size: 18px;
                    }
    
                }
            }
        }
    }  
}