$font-primary: 'IBM Plex Mono';
$font-second: 'IBM Plex Sans';
$color-menu: #000000;
$background-color-menu: #0000EC;
$color-text-second: #FFFFFF;
$color-text-hover: #00F3BB;
$color-text-primary: #060A24;
$font-size-title-mobile: 36px;
$font-size-title-desktop: 48px;
$font-size-title-principal: 64px;
$font-size-text-mobile: 14px;
$font-size-box-themes: 24px;
$font-size-text-button-mobile: 16px;
$font-size-text-button-desktop: 18px;
$background-button: #00F3BB;
$background-button-hover: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
$background-section: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);