* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace; }

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 44px;
  padding-left: 16px;
  padding-right: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  body header nav .menu {
    padding-top: 3px; }
    body header nav .menu input {
      display: block;
      width: 20px;
      height: 20px;
      opacity: 0;
      z-index: 2;
      position: absolute;
      margin-right: 12px;
      /*movimiento a cruz*/ }
      body header nav .menu input[type="checkbox"]:checked ~ ul {
        display: block;
        height: 224px;
        padding-top: 16px;
        padding-left: 16px; }
      body header nav .menu input:checked ~ span {
        opacity: 1;
        -webkit-transform: rotate(45deg) translate(2px, 1px);
                transform: rotate(45deg) translate(2px, 1px); }
      body header nav .menu input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        -webkit-transform: rotate(0deg) scale(0.2, 0.2);
                transform: rotate(0deg) scale(0.2, 0.2); }
      body header nav .menu input:checked ~ span:nth-last-child(2) {
        -webkit-transform: rotate(-45deg) translate(1px, 0px);
                transform: rotate(-45deg) translate(1px, 0px); }
    body header nav .menu span {
      display: block;
      width: 18px;
      height: 2px;
      margin-bottom: 5px;
      position: relative;
      background: #000;
      z-index: 1;
      -webkit-transform-origin: 3px 0px;
              transform-origin: 3px 0px;
      margin-right: 12px; }
      body header nav .menu span:first-child {
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%; }
      body header nav .menu span:nth-last-child(2) {
        -webkit-transform-origin: 0% 100%;
                transform-origin: 0% 100%; }
    body header nav .menu ul {
      position: absolute;
      top: 44px;
      left: 0;
      width: 100%;
      background: #0000EC 100%;
      display: none; }
      body header nav .menu ul li {
        display: block;
        width: 100%;
        margin-bottom: 24px; }
        body header nav .menu ul li a {
          display: block;
          width: 100%;
          color: #ffffff;
          line-height: 28px;
          text-decoration: none;
          font-family: 'IBM Plex Mono'; }
body main {
  margin-top: 29px;
  height: 5246.5px; }
  body main .text-section {
    margin-left: 16px; }
    body main .text-section h1 {
      width: 222px;
      line-height: 42px;
      font-size: 36px;
      font-family: 'IBM Plex Sans';
      font-weight: normal;
      margin-bottom: 16px; }
      body main .text-section h1 span {
        text-decoration: line-through; }
    body main .text-section p {
      width: 288px;
      height: 66px;
      margin-bottom: 36px;
      font-family: 'IBM Plex Mono';
      color: #060A24 100%;
      font-size: 14px; }
    body main .text-section button {
      width: 288px;
      background: #00F3BB 100%; }
      body main .text-section button a {
        display: block;
        line-height: 48px;
        color: #060A24 100%;
        font-size: 16px;
        font-family: 'IBM Plex Mono';
        text-decoration: none;
        font-weight: 500; }
        body main .text-section button a:hover {
          background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
          color: #ffffff; }
  body main .episodes-section {
    margin-top: 24px;
    height: 1203.5px;
    padding-top: 64px;
    position: relative; }
    body main .episodes-section .background {
      position: absolute;
      top: 0;
      width: 100%;
      height: inherit;
      background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
      -webkit-transform: skewY(-6deg);
              transform: skewY(-6deg);
      -webkit-transform-origin: top right;
              transform-origin: top right; }
    body main .episodes-section h2 {
      margin-left: 16px;
      font-size: 36px;
      color: #ffffff;
      font-family: 'IBM Plex Sans';
      line-height: 42px;
      font-weight: normal;
      margin-bottom: 21px;
      position: relative; }
    body main .episodes-section .section-iframe {
      height: 232px;
      padding-left: 11px;
      position: relative;
      margin-bottom: 11px; }
  body main .phone-section {
    width: 100%;
    height: 519px;
    position: relative;
    top: -70px; }
    body main .phone-section figure {
      height: inherit; }
      body main .phone-section figure img {
        width: 100%; }
  body main .from-section {
    padding-left: 16px;
    margin-bottom: 54px;
    position: relative;
    top: -70px;
    margin-top: 27px; }
    body main .from-section h2 {
      width: 288px;
      line-height: 42px;
      font-size: 36px;
      font-family: 'IBM Plex Sans';
      font-weight: normal;
      margin-bottom: 8px; }
    body main .from-section p {
      width: 288px;
      line-height: 22px;
      font-size: 14px;
      color: #060A24 100%; }
  body main .guests-section {
    position: relative;
    top: -70px; }
    body main .guests-section h2 {
      width: 288px;
      line-height: 42px;
      font-size: 36px;
      font-family: 'IBM Plex Sans';
      font-weight: normal;
      margin-left: 16px;
      margin-bottom: 14px; }
    body main .guests-section figure {
      width: 100%;
      height: 243px; }
      body main .guests-section figure img {
        width: inherit; }
  body main .themes-section {
    position: relative;
    top: -70px;
    margin-top: 48px; }
    body main .themes-section h2 {
      width: 288px;
      line-height: 42px;
      font-size: 36px;
      font-family: 'IBM Plex Sans';
      font-weight: normal;
      margin-left: 16px; }
    body main .themes-section .box-themes {
      margin-top: 24px;
      margin-bottom: 36px; }
      body main .themes-section .box-themes figure {
        width: 100%;
        height: 130px;
        padding: 13px 108px; }
        body main .themes-section .box-themes figure img {
          width: 104px;
          height: 104px; }
      body main .themes-section .box-themes h3 {
        width: 288px;
        line-height: 32px;
        margin: 0 auto;
        text-align: center;
        font-size: 24px;
        font-family: 'IBM Plex Sans';
        font-weight: 500; }
    body main .themes-section .box-margin {
      margin-bottom: 0; }
  body main .latest-news-section {
    position: relative;
    top: -70px;
    height: 341px;
    margin-top: 42px; }
    body main .latest-news-section .background2 {
      position: absolute;
      top: 0;
      width: 100%;
      height: inherit;
      background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
      -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%); }
    body main .latest-news-section h2 {
      width: 288px;
      line-height: 42px;
      font-size: 36px;
      font-family: 'IBM Plex Sans';
      color: #ffffff;
      font-weight: normal;
      text-align: center;
      position: absolute;
      top: 64px;
      margin-left: 16px; }
    body main .latest-news-section button {
      width: 288px;
      background: #00F3BB 100%;
      position: absolute;
      top: 226px;
      margin-left: 16px; }
      body main .latest-news-section button a {
        display: block;
        line-height: 48px;
        color: #060A24;
        font-size: 16px;
        text-decoration: none;
        font-weight: 500;
        font-family: 'IBM Plex Mono'; }
        body main .latest-news-section button a:hover {
          background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
          color: #ffffff; }
body footer {
  height: 121px;
  padding-top: 24px; }
  body footer p {
    width: 227px;
    line-height: 22px;
    font-size: 14px;
    color: #060A24;
    margin: 0 auto; }
  body footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 16px; }
    body footer div i {
      width: 16px;
      margin-right: 38px; }
      body footer div i a {
        display: block;
        width: 100%;
        height: 28px;
        line-height: 28px;
        background-repeat: no-repeat;
        background-position: center; }
      body footer div i .spotify {
        background-image: url("../images/spotify.svg"); }
      body footer div i .instagram {
        background-image: url("../images/instagram.svg"); }
      body footer div i .twitter {
        background-image: url("../images/twitter.svg"); }
      body footer div i .facebook {
        background-image: url("../images/facebook.svg"); }
      body footer div i .telegram {
        background-image: url("../images/telegrama.png"); }
    body footer div .rigth-icon {
      margin: 0; }

@media screen and (min-width: 500px) {
  body header {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px; }
    body header .nav label {
      font-size: 26px;
      line-height: 70px;
      display: none; }
    body header .nav nav {
      display: block;
      text-align: right; }
      body header .nav nav ul li {
        display: inline-block;
        margin: 0 10px;
        line-height: 70px;
        border-bottom: none; } }

/*# sourceMappingURL=style.css.map */